<div class="background-video-container-fragment">
	<style>
		@media (pointer: coarse) and (hover: none) {
			.background-video-container-fragment header {
				background: url('${configuration.mobileFallbackImage}') black no-repeat center center scroll;
			}

			.background-video-container-fragment header video {
				display: none;
			}
		}
	</style>

	<div class="background-video-container-fragment-container" style="height: ${configuration.videoHeight}; min-height: ${configuration.videoMinHeight};">
		<div class="overlay" style="background-color: ${configuration.overlayColor}; opacity: ${configuration.overlayOpacity};"></div>

		<video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
			<source src="${configuration.videoURL}" type="video/mp4" />
		</video>

		<div class="container h-100">
			<div class="d-flex h-100 text-center align-items-center">
				<div class="w-100 text-white">
					<lfr-drop-zone></lfr-drop-zone>
				</div>
			</div>
		</div>
	</div>
</div>