.navigation-fragment-root .nav-link {
	color: inherit;
}

.navigation-fragment-root .nav-link:hover {
	color: inherit;
}

.navigation-fragment-root .portlet {
	margin-bottom: 0;
}

.navigation-fragment-root .nav-item.active .nav-link {
	font-weight: bold;
}

@media (max-width: 576px) {
	.navigation-fragment-root {
		position: relative;
	}

	.nav-container {
		background: #FFF;
		border-color: rgba(0, 0, 0, 0.125);
		border-radius: 0.25rem;
		border-style: solid;
		border-width: 0;
		box-shadow: 0 1px 3px -1px rgb(0 0 0 / 60%);
		display: block;
		margin-bottom: 1.5rem;
		min-width: 0;
		position: absolute;
		right: 0px;
		top: calc(100% + 4px);
		width: auto;
	}
}