.video {
	align-items: center;
	background: #fafafa;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px #aaa;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}

.error-message {
	height: 100%;
	margin: 0;
	width: 100%;
}

.error-message p {
	margin: 0;
}

.video-source {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.video-container {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.video-mask {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.mappable-video .dropdown {
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.4s ease-in-out;
}

.mappable-video:hover .dropdown,
.mappable-video:not(.playing) .dropdown {
	opacity: 1;
}

.mappable-video .dropdown .dropdown-menu {
	left: auto !important;
	min-width: auto;
	right: 0;
}

.mappable-video .dropdown .dropdown-menu li {
	white-space: nowrap;
}

.mappable-video .dropdown-toggle {
	overflow: visible;
}

.mappable-video .dropdown .lexicon-icon {
	box-shadow: 0 0 20px 10px #0000008c;
}